**/*.app
**/.alpackages
**/.altemplates
**/.alcache
**/.netpackages
**/.snapshots
**/.altestrunner
**/Ignored
**/.vscode/rad.json
/vsix
/My
**/.gocurrent/data.json
**/.gocurrent/target.json
/scripts/customsetupparams.json
build
tmp
Temp
PackagesOutput/My
/PackagesOutput
/Packages
**/Translations/*
*.xref*
**/.vscode/launch.json
!JS/**/.vscode/launch.json
node_modules
dist
*local.*
*custom.json
bin
obj
out
*.js.map
*.zip
